<div class="navbar">
      <img class="logo" src="carro (1).png" alt="Automotive" width="240" height="60">            
      <a href="#about">Sobre</a>        
      <a href="#catalogo">Catalogo</a>
      <a href="#home">Home</a>      
    </div>  
<h1 style="text-align: center;">Sobre Automotive<br><hr></h1>
  <div>
    <div>       
     <p>
       Somos um site sem fins lucrativos que busca informa um pouco sobre o mundo automotivo que abrange tantos tipos de carros e que domina o mundo inteiro.
     </p>
      <img src="fundoCarro.png">
    </div>
  </div>

<button class="darkBtn" onclick="Dark_Mode()">Dark mode</button>
    <button onclick="topoPagina()" id="topoBtn" title="Subir">/\</button>